//colors
$black: #2f2f2f;
$white: #fff;
$gold: #d5a021;
$tan: #e2c290;
$gray: #e2e2e2;

//Fonts

$roboto: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
$righteous: 'Righeous', cursive;
$abril-fatface: 'Abril Fatface', cursive;
$raleway: 'Raleway', sans-serif;   
