#masthead {
 background: $gold;
    padding: .5em 0;
}

#site-logo {
 float: left;
    width: 150px;
    padding: .5em .5em;
}

//nagivation//
#site-navigation {
    float: right;
    
    .menu {
        margin: 0.4em 0 0;
    }
    
    .menu-item {
        display:inline-block;
        margin-left: 1em;
    
        a {
            color: $gray;
            font-family: $raleway;
            font-weight: 400;
            font-size: 1.15em;
            text-decoration: none;
            
            
            &.hover {
                color: darken($gray, 20%);
            }
            
        }
    }
}

//mobile menu
.menu-toggle {
    display: none;
}